
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <a href="#" class="btn btn-primary">Add new</a>
        @Html.Partial("~/Views/Shared/_customer.cshtml")
    </div>
    <div class="col-lg-12">
    <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>